
.container{
	display: flex;
	flex-direction: column;
}


.blackjack_logo{
	display: flex;
	background-image: url(./blackjack_logo.png);
	background-repeat: no-repeat;
	background-position: center;
	width:894px;
	height:894px;
	margin-left: auto; 
	margin-right: auto; 
}

body{
	background-color: #0e0e0e
}

.dealer_table{
	display: flex;
	flex-direction: column;
	background-image: url(./blackjack_table_layout.svg);
	background-repeat: no-repeat;
	background-position: center;
	padding-top:150px;
	background-size: cover;
	margin: auto;
	width: 2050px;
	height: 850px;
}

.total_chips_window{
	position: absolute;
	top: 3%;
	left: 2%;
	font-size	: 30px;
	background-color:#D0D0D0;
	width: 250px ;
	height: 40px;
	border: 2px solid black;
	text-align: center;	
}	

/* Style the button and place it in the middle of the container/image */
.start-game-button {
	margin-top: auto;
	margin-bottom: 10%;
	margin-left: auto; 
	margin-right: auto; 
	background-color: white;
	color: red;
	font-size: 30px;
	padding: 12px 24px;
	border: 2px solid black;
	cursor: pointer;
	border-radius: 12px;
  }

  .participate_layout{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }

  .chips_layout {
	justify-content: space-between;
	margin-bottom: 0px;

}
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

.delear_chips_pot{
	position: absolute;
	display: flex;
	flex-direction: row;
	width: 180px;
	left: 1000px;
	top: 230px;
	animation: slide 2s 1 linear forwards;
	animation-name: slide-to-participate ;
}

@keyframes slide-to-participate {
  0% {
		left: 1000px;
		top: 300px;
	}
	99% {
		left: 700px;
		top: 700px;
    opacity: 1;
  }
	100% {
		left: 700px;
		top: 740px;
    opacity: 0;
    display: none;	
	}
}	

.participate_won{
	animation: slide 2s 1 linear forwards;
	animation-name: slide-to-participate_won ;
}

@keyframes slide-to-participate_won {
  0% {
		left: 1000px;
		top: 600px;
	}
	99% {
		left: 700px;
		top: 700px;
    opacity: 1;
  }
	100% {
		left: 700px;
		top: 740px;
    opacity: 0;
    display: none;	
	}
}	
.chips_pot{
	position: absolute;
	transition:left 1s linear;
	display: flex;
	max-height:100px;
	width: 180px;
	flex-direction: row;
	left: 1000px;
	top: 600px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}


.chips_pot .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
	bottom: 80%;
	left: -30%;
	margin: 50px;

}	

.chips_pot:hover .tooltiptext {
  visibility: visible;
}

.lost_chips_pot{
  animation: slide 2s 1 linear forwards;
	animation-name: slide-to-pot ;
}
@keyframes slide-to-pot {
  0% {
		left: 1000px;
		top: 600px;
	}
	99% {
		left: 1000px;
		top: 210px;
    opacity: 1;
  }
	100% {
		left: 1000px;
		top: 200px;
    opacity: 0;
    display: none;	
	}
}	

.chips {
	display: flex;
	flex-direction: row;
}
.chips_layout .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
	bottom: 80%;
	left: 30%;
	margin: 40px;

}	

.chips_layout:hover .tooltiptext {
  visibility: visible;
}


.player-actions{
	position: absolute;
	display: flex;
	top: 800px;
	right: 1180px;
	flex-direction: row;
}

.hit-stand-buttons_layout{

	border-radius: 12px;
	margin-right:5px ;
  background-color: #0099cc;
	color: #ffffff;
	height: 40px;

	font-size: 30px;
	font-size:1.5em;
  border: 1px solid #999999;
	box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.212);
}

.hit-stand-buttons_layout:hover{
	cursor: pointer; 
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
}


.hit-stand-buttons_layout:disabled{
	cursor: default; 

	opacity: 0.5;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
	box-shadow: none;
}


.chip-button {
	flex:1;
	align-self:  flex-end;
	font-size: 25px;
}

/* Style the button and place it in the middle of the container/image */
.container .stand-button {
	flex:1;
	font-size: 30px;
  }
  
  .space{
	flex:1;
  }
  
  .container .dealer-button {
	
	width: 4%;
	left: 80%;
	border: none;
	cursor: pointer;
	border-radius: 12px;
	margin: auto;
  }


.chips_layout {
	position: absolute;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	right:1200px;
	top: 700px;
}

.same-chip{
	flex:1;
	flex-shrink:1;
	flex-direction: row;
	width: 100px;
	height: 50px;
}

.small-chip {
margin: -40px;
width: 40px;
height: 40px;

border-radius: 150px;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;    
border: 10px dotted #fff;
-webkit-text-fill-color: #fff;
border: 2px solid black;	

}

.small-chip:hover {
	cursor: pointer; 
}

.small-chip.disabled {
	cursor: default; 
}


.chip-button {
  float: left;
	width: 70px;
	height: 70px;
	margin: 10px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;    
	border: 10px dotted #fff;
	-webkit-text-fill-color: #fff;
	

}

.blue-chip {background: #4cc3fe }
.orange-chip { background: #f7b55e }
.purple-chip { background: #700080 }
.red-chip { background: #fd5f72 }
.black-chip {background: #333 }


.chip-button:hover {
	-webkit-animation: 2s rotate-right linear infinite;
			animation: 2s rotate-right linear infinite;
   cursor: pointer; 
  }

	.chip-button.disabled { 
		-webkit-animation: none;
		animation: none;

		cursor: default; 
	
		opacity: 0.5 
	}
  @-webkit-keyframes rotate-right {
	0% {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }

  @keyframes rotate-right {
		0% {
			-webkit-transform: rotate(0deg);
					transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
					transform: rotate(360deg);
		}
	}



.outer {
  background-color: pink;
  width: 40px;
    position: absolute;
    display: inline-block;
		margin: 0 15px;
		top: 20%;
		left: 68%;
}


.deck-cards {
  font-size: 13px;
  position: absolute;
  background: #DDD;
}


.rotate {
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
-webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}