
.container{
	display: flex;
	flex-direction: column;
}


.blackjack_logo{
	display: flex;
	background-image: url(./blackjack_logo.png);
	background-repeat: no-repeat;
	background-position: center;
	width:894px;
	height:894px;
	margin-left: auto; 
	margin-right: auto; 
}

body{
	background-color: #0e0e0e
}

.dealer_table{
	display: flex;
	flex-direction: column;
	background-image: url(./blackjack_table_layout.svg);
	background-repeat: no-repeat;
	background-position: center;
	padding-top:150px;
	background-size: cover;
	margin: auto;
	width: 2050px;
	height: 850px;
}

.bet_amount{
	font-size	: 30px;
	background-color: white;
	width: 320px ;
	height: 80px;
	border: 2px solid black;	
  }	

/* Style the button and place it in the middle of the container/image */
.start-game-button {
	margin-top: auto;
	margin-bottom: 10%;
	margin-left: auto; 
	margin-right: auto; 
	background-color: white;
	color: red;
	font-size: 30px;
	padding: 12px 24px;
	border: 2px solid black;
	cursor: pointer;
	border-radius: 12px;
  }

  .participate_layout{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }

  .chips_layout {
	justify-content: space-between;
	margin-bottom: 0px;

}
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

.delear_chips_pot{
	position: absolute;
	display: flex;
	flex-direction: row;
	width: 180px;
	left: 1000px;
	top: 230px;
	animation: slide 2s 1 linear forwards;
	animation-name: slide-to-participate ;
}

@keyframes slide-to-participate {
  0% {
		left: 1000px;
		top: 300px;
	}
	99% {
		left: 1000px;
		top: 600px;
    opacity: 1;
  }
	100% {
		left: 1000px;
		top: 610px;
    opacity: 0;
    display: none;	
	}
}	

.chips_pot{
	position: absolute;
	transition:left 1s linear;
	display: flex;
	width: 180px;
		flex-direction: row;
	left: 1000px;
	top: 600px;
}

.lost_chips_pot{
  animation: slide 2s 1 linear forwards;
	animation-name: slide-to-pot ;
}
@keyframes slide-to-pot {
  0% {
		left: 1000px;
		top: 600px;
	}
	99% {
		left: 1000px;
		top: 210px;
    opacity: 1;
  }
	100% {
		left: 1000px;
		top: 200px;
    opacity: 0;
    display: none;	
	}
}	

.chips {
	display: flex;
	flex-direction: row;
}

  .buttons_layout{
	display: flex;
	flex-direction: row;
	width: 320px ;
	height: 80px;


  }
  /* Style the button and place it in the middle of the container/image */
.hit-button {
	flex:1;
	font-size: 30px;	
}

.round-ended{
	background-color:#D0D0D0;

	margin-left:0%;
	font-size: 30px;
	max-width:250px;
	font-size:1.5em;
	border:1px solid black;
	border-bottom: 5px solid black;
	box-shadow: 0px 3px 5px white;
}

.round-ended:hover{
	background-color: gold;
}
.chip-button {
	flex:1;
	align-self:  flex-end;
	font-size: 30px;
}

/* Style the button and place it in the middle of the container/image */
.container .stand-button {
	flex:1;
	font-size: 30px;
  }
  
  .space{
	flex:1;
  }
  
  .container .dealer-button {
	
	width: 4%;
	left: 80%;
	border: none;
	cursor: pointer;
	border-radius: 12px;
	margin: auto;
  }


.chips_layout {
	position: absolute;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	right:1200px;
	top: 700px;
}

.same-chip{
	flex:1;
	flex-direction: column;
}

.small-chip {
margin: -15px;
width: 40px;
height: 40px;

border-radius: 150px;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;    
border: 10px dotted #fff;
-webkit-text-fill-color: #fff;
border: 2px solid black;	

}

.chip-button {
    float: left;
	width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;    
	border: 10px dotted #fff;
	-webkit-text-fill-color: #fff;

}

.blue-chip {background: #4cc3fe }
.orange-chip { background: #f7b55e }
.purple-chip { background: #700080 }
.red-chip { background: #fd5f72 }
.black-chip {background: #333 }

.chip-button.disabled { opacity: 0.3 }

.chip-button:hover {
	-webkit-animation: 2s rotate-right linear infinite;
			animation: 2s rotate-right linear infinite;
  }
  
  @-webkit-keyframes rotate-right {
	0% {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }

  @keyframes rotate-right {
	0% {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
	}

	.game_settings{
		position: absolute;
		top: 850px;
		right: 1800px;
	}