
.container{
	position: relative;
	width: 50%;
	height: 50%;
}

.container img{
	width: 100%;
	height: 100%;
	margin-left: 50%;
	margin-right: 50%;	
}
.container .dealer_table{
	width: 80%;
	top: 80%;
	height: 60%;
	margin-left: 50%;
	margin-right: 50%;	
}

/* Style the button and place it in the middle of the container/image */
.container .start-game-button {
	position: absolute;
	top: 90%;
	left: 100%;
	transform: translate(-50%, -50%);
	background-color: #555;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 12px;
  }

  /* Style the button and place it in the middle of the container/image */
.hit-button {
	position: absolute;
	top: 80%;
	left: 80%;
	transform: translate(-50%, -50%);
	background-color: #555;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 12px;
  }

   /* Style the button and place it in the middle of the container/image */
.container .stand-button {
	position: absolute;
	top: 90%;
	left: 80%;
	transform: translate(-50%, -50%);
	background-color: #555;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 12px;
  }
  
  .container .dealer-button {
	position: absolute;
	width: 20%;
	height: 20%;
	top: 10%;
	left: 40%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 12px;
  }