	
	
	.cards{
		flex-direction: row-reverse;
		display: flex; /* or inline-flex */
		margin-right: auto;
		margin-left: auto;
		margin-top: 130px;
		height: 1000px;
	}

	.card{
		flex: 1;
	}
	
	.card_border{
		border-radius: 8px;
		margin : 2px;
		display: flex; /* or inline-flex */
		background-color: white;
		width: 60px ;
		height: 80px;
		border: 2px solid black;
		 
  }	

  .number{
		display: block;
		font-size: 2em;
		margin-left: 0px;
  }
  .suite{
		display: block;
		font-size: 2em;
  }
  
  .red{
	color:red;
  }