	
	
	.cards{
		flex-direction: rows;
		display: flex; /* or inline-flex */
		margin-top: 15px;
		height: 1000px;
	}

	.card{
		flex: 1;
	}
	
	.card_border{
		border-radius: 8px;
		margin-top: -30px;
		margin-left : -50px;

		display: flex; /* or inline-flex */
		background-color: white;
		width: 100px ;
		height: 150px;
		border: 1px solid black;
		box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.212);

  }	

	.card-to-dealer{
		position: relative;
		animation: slide 1.3s 1 linear forwards;
		animation-name: slide-card-to-dealer;
	}

	@keyframes slide-card-to-dealer {
		0% {
			top: 80px;
			left: 1350px;
		}

		100% {
			left: 1050px;
			top: 100px;
		}
	}	

	.card-to-participate{
		position: relative;

		animation: slide 1s 1 linear forwards;
		animation-name: slide-card-to-participate;
	}
	
	@keyframes slide-card-to-participate {
		0% {
			top: -350px;
			left: 1350px;
		}

		100% {

			left: 1030px;
			top: 120px;
		}
	}	
  .number{
		display: block;
		font-size: 2.3em;
		margin-top: 2px;

		margin-left: 2px;
  }
  .suite{
		display: block;
		margin-top: 2px;

		font-size: 2.3em;
  }
  
  .red{
	color:red;
  }
  
  .participate-card-disappear{
	position: relative;

	animation: disappear 2s 1;
	display: flex; /* or inline-flex */
  }
  .dealer-card-disappear{
	position: relative;
	animation: disappear 2s 1;
	display: flex; /* or inline-flex */
  }

  @keyframes disappear {
	from{

		opacity: 1;
		top:14px;

	}
	to{
		opacity: 0;
		position: relative;
		top:10px;
		display: none;

	}

  }	